
*.cmake
*.a
**/.vs
**/Debug
*.sln
*.vcxproj
*.vcxproj.*
*.filters
*.dir

*/.vcxproj
*/.vcxproj.filters

#
# CMake temporary files
#
CMakeFiles/*
*/CMakeFiles/*
*/*/CMakeFiles/*
CMakeCache.txt

.vs
.vs/*
mangosr.dir/*
Win32/*

Debug/*
*/Debug/*


